aiofiles
aria2p
aiohttp
apscheduler
asyncurban
cairosvg
carbonnow
cloudscraper
colour
covid
cowpy
dataclasses
DateTime
emoji
fonttools
geopy
gingerit
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==4.0.0-rc1
oauth2client==4.1.3
gtts
hachoir
heroku3
html-telegraph-poster
humanize
IMDbPY
imutils
jikanpy
justwatch
lottie
lyricsgenius
markdown
motor
moviepy
nekos.py
Pillow
prettytable
psutil
psycopg2
ProfanityDetector
PyDictionary
pyfiglet
PyGithub
pygments
pylast
pymediainfo
PyMuPDF
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
randomstuff.py
regex
requests
search-engine-parser
selenium
setuptools
ShazamAPI
shazamio
spamwatch
speedtest-cli
sqlalchemy-json
sqlalchemy==1.3.23
telegraph
tabulate
TgCrypto
tswift
ujson
urlextract
validators
vcsi
wand
wget
git+https://github.com/goldsmith/Wikipedia
git+https://github.com/buddhhu/search-engine-parser.git
git+https://github.com/buddhhu/ofox.git
youtube-search-python
youtube_dl
